- if authorizer.admin? && game.try(:upcoming?)
  .subnav
    %ul.nav
      - if game.canceled?
        %li.nav-item
          = link_to 'Reschedule this Game', '#', id: 'reschedule-game-link', class: 'nav-link action-link'
      - else
        %li.nav-item
          = link_to 'Send a Reminder', '#', id: 'send-reminder-link', class: 'nav-link action-link'
        %li.nav-item
          = link_to 'Cancel this Game', '#', id: 'cancel-game-link', class: 'nav-link action-link'
