.subnav
  %ul.nav.nav-pills
    - if Game.upcoming.empty?
      %li= link_to "Schedule #{Schedule.instance.day}’s Game", schedule_games_path
    %li= link_to 'Change the Schedule', edit_schedule_path
