- if admin? && @game.upcoming?
  .subnav
    %ul.nav.nav-pills
      - if @game.canceled?
        %li= link_to 'Reschedule this Game', '#', id: 'reschedule-game-link'
      - else
        %li= link_to 'Send a Reminder', '#', id: 'send-reminder-link'
        %li= link_to 'Cancel this Game', '#', id: 'cancel-game-link'
