- if authorizer.admin? && game&.upcoming?
  .subnav
    %ul.nav
      - if game.canceled?
        %li.nav-item= render 'reschedule'
      - else
        %li.nav-item= link_to 'Edit this Game', edit_game_path(game), class: 'nav-link'
        %li.nav-item= render 'reminder'
        %li.nav-item= render 'cancellation'
