= render ModalLinkComponent.new(title: 'Cancel this Game', url: cancel_game_path(game), button_text: 'Cancel Game') do
  %p
    Originally on
    %strong= game.date

  .form-group
    = label_tag :message, 'Message'
    = text_area_tag :message, 'Sorry, folks. I have to cancel frisbee this week.', rows: 5, class: 'form-control'

