= render layout: 'layouts/modal', locals: { id: 'cancel-game-modal', title: 'Cancel this Game', url: cancel_game_path(@game), button: 'Cancel Game' } do
  %p
    Originally on
    %strong= @game.date

  .form-group
    = label_tag 'Message'
    .controls
      = text_area_tag :message, 'Sorry, guys. I have to cancel frisbee this week.', rows: 5

