= render ModalLinkComponent.new(title: 'Send a Reminder', url: remind_game_path(game), button_text: 'Send Reminder') do
  %p
    For the game on
    %strong= game.date

  .form-group
    = label_tag :message, 'Message'
    = text_area_tag :message, 'Who can make it?', rows: 5, class: 'form-control'
