= render layout: 'layouts/modal', locals: { id: 'send-reminder-modal', title: 'Send a Reminder', url: remind_game_path(@game), button: 'Send' } do
  %p
    For the game on
    %strong= @game.date

  .form-group
    = label_tag 'Message'
    .controls
      = text_area_tag :message, 'Who can make it?', rows: 5
