= render layout: 'layouts/modal', locals: { id: 'reschedule-game-modal', title: 'Reschedule this Game', url: reschedule_game_path(@game), button: 'Reschedule Game' } do
  %p
    For
    %strong= @game.date

  .form-group
    = label_tag :message, 'Message', class: 'control-label'
    = text_area_tag :message, 'The game is back on!', rows: 5, class: 'form-control'
