- title 'This Week’s Game'

.page-header
  %h1 This Week’s Game

- if @game
  - if @game.canceled?
    %p.lead It’s canceled. Maybe next week!
  - else
    = render @game
- else
  %p.lead Nothing scheduled yet.
