body.games {
  .game-details {
    dt,
    dd {
      font-size: 1.2rem;
      line-height: 1.5em;
    }
  }

  .player-actions {
    @include media-breakpoint-down(sm) {
      .response .btn {
        display: block;
        width: 100%;
      }
    }

    @include media-breakpoint-up(md) {
      .response {
        display: inline-block;
      }
    }
  }

  table.games {
    tr.canceled {
      td, a {
        color: $text-muted;
      }
    }
  }
}
