body.players {
  table.players {
    .worthless,
    .retired {
      .icon,
      .attendance,
      .phone {
        color: $text-muted;
      }
    }

    th.icon,
    td.icon {
      width: 1.5rem;
      text-align: center;
    }
  }
}
