- layout.page_title = 'Players'

.page-header
  %h1 Players
  - if authorizer.admin?
    = render 'actions'

.row
  .span6
    %h2 Everyone
    %table.table.table-striped.players
      %thead
        %tr
          %th.icon
          %th.name Name
          %th.attendance
          -# %th.email E-mail
          -# %th.phone Phone
          -# %th.actions
      %tbody
        = render @players

  .span6
    %h2 Top 8
    = column_chart @ranked_players.map { |p| [p.short_name, p.games_played] }
