- layout.page_title = 'Players'

.page-header
  %h1 Players
  - if authorizer.admin?
    = render 'actions'

%h2{style: 'margin-left:13%'} Games Played
= column_chart @players.map { |p| [p.short_name, p.games_played] }
