- layout.page_title = 'Players'

.page-header
  %h1 Players
  - if authorizer.admin?
    = render 'actions'

.row
  .span6
    %h2 Everyone

    %table.table.table-striped.players
      %thead
        %tr
          %th.icon
          %th.name Name
          %th.attendance Attendance

          - if authorizer.admin?
            %th.phone Phone
            %th.actions

      %tbody
        = render @players

  .span6
    %h2 By Games Played

    = column_chart @ranked_players.map { |p| [p.short_name, p.games_played] }
