- layout.page_title = 'Players'

.page-header
  %h1 Players
  - if authorizer.admin?
    = render 'actions'

.row
  .col-12.col-lg-6
    %h3.mb-3 Everyone

    .table-responsive
      %table.table.table-hover.players
        %thead.thead-dark
          %tr
            %th.icon
            %th.name Name
            %th.attendance Attendance

            - if authorizer.admin?
              %th.phone Phone
              %th.actions

        %tbody
          = render players

  .col-12.col-lg-6
    %h3.mb-3 By Games Played

    %canvas#player-chart.mt-4{'data-url' => ranked_players_url(format: 'json')}
