@import "lib/mixins";

body.games {
  .game-details {
    dt,
    dd {
      font-size: 21px;
      line-height: 1.5em;
    }

    @media (min-width: 980px) {
      dt {
        float: left;
        clear: left;
        width: 9em;
      }

      dd {
        margin-left: 10em;
      }
    }
  }

  @media (max-width: 480px) {
    .player-actions {
      .btn {
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  table.games {
    tr.canceled {
      td, a {
        color: #999;
      }
    }
  }

  &.show {
    .form-actions {
      form {
        margin-bottom: 0;
      }
    }
  }
}
