body {
  padding-bottom: 120px;
}

@media (min-width: 980px) {
  body {
    padding-top: 80px;

  }

  .page-header {
    position: relative;

    .subnav {
      position: absolute;
      right: 0;
      top: 6px;

      ul.nav {
        margin-bottom: 0;

        li {
          margin-left: 2px;
        }

        li > p {
          margin: 2px;
          padding: 8px;
          line-height: 14px;
        }
      }
    }
  }
}

@media (max-width: 979px) {
  .navbar a.navbar-brand {
    padding-left: 20px;
  }

  .page-header {
    margin: 10px 0 20px;

    h1 {
      font-size: 36px;
    }

    .subnav {
      ul.nav {
        li {
          margin-right: 10px;
        }
      }
    }
  }
}

tr {
  td.actions a {
    visibility: hidden;
  }

  &:hover td.actions a {
    visibility: visible;
  }
}

.page-header {
  .subnav {
    background-color: transparent;
  }
}

.navbar {
  .nav.pull-right {
    li:last-child a {
      padding-right: 0;
    }
  }
}

.modal {
  textarea {
    width: 90%;
  }
}
