body {
  padding-top: 60px;
  padding-bottom: 120px;
}

tr {
  td.actions a {
    visibility: hidden;
  }

  &:hover td.actions a {
    visibility: visible;
  }
}

.page-header {
  position: relative;

  .subnav {
    position: absolute;
    right: 0;
    top: 6px;

    li > p {
      margin: 2px;
      padding: 8px;
      line-height: 14px;
    }
  }
}
