body {
  padding-top: 60px;
  padding-bottom: 120px;
}

tr {
  td.actions a {
    visibility: hidden;
  }

  &:hover td.actions a {
    visibility: visible;
  }
}

.navbar {
  .nav.pull-right {
    li:last-child a {
      padding-right: 0;
    }
  }
}

.page-header {
  position: relative;

  .subnav {
    position: absolute;
    right: 0;
    top: 6px;
    background-color: transparent;

    ul.nav {
      margin-bottom: 0;

      li > p {
        margin: 2px;
        padding: 8px;
        line-height: 14px;
      }
    }
  }
}

.modal {
  textarea {
    width: 90%;
  }
}
