@import "lib/mixins";

body.players {
  table.players {
    .worthless,
    .retired {
      .icon,
      .attendance {
        color: #aaa;
      }
    }

    th.icon,
    td.icon {
      @include icon-column;
    }

    tr {
      td.actions a {
        color: #aaa;
      }

      &:hover td.actions a {
        color: inherit;
      }
    }
  }

  #player-chart {
    margin-top: 25px;
  }
}
