!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    :css
      body {
        padding: 5px;
        font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
        font-size: 10pt;
      }

      a {
        text-decoration: none;
      }

      p {
        line-height: 1.5em;
        margin-bottom: 1.5em;
      }

      .btn {
        padding: 0.5em 1em;
        color: #666666;
        background-color: #dfdfdf;
      }

      .btn-primary {
        color: #ffffff;
        background-color: #0f82f5;
      }

      #links {
        margin-top: 2.5em;
      }

  %body
    = yield
