!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    :css
      body {
        padding: 5px;
        font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
        font-size: 10pt;
      }

      a {
        text-decoration: none;
        color: #007fff;
      }

      a:hover {
        text-decoration: underline;
      }

      p {
        line-height: 1.5em;
        margin-bottom: 1.5em;
      }

      .acceptance,
      .declination {
        margin-right: 1em;
      }

      .declination,
      .postponement {
        margin-left: 1em;
      }

      .declination {
        color: #9fbfdf;
      }

  %body
    = yield
